{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque - Pics de Volumes
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

		<div class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
					<div class="col px-0 text-center mb-3">
					    <h1 class="display-5 fst-italic"><strong>Pic de volumes</strong></h1>
					</div>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">Il s’agit d’une augmentation significative des volumes sans ramassage de titres</p>
						<p class="text-justify">En général ce sont des valeurs dont les prix évoluent dans un range étroit. La sortie du range est violente</p>
						<p class="text-justify">L’écartement des bandes de Bollinger intervient le jour du pic de volumes.</p>
						<p class="text-justify">Il n’y a pas de bulles, mais il était impotant de signaler les pics de volumes eu égard à l’importance des volumes dans la méthode.</p>
						<p class="text-justify">Les bulles doivent toujours être validées par un écartement des bandes de Bollinger sur l’unité de temps Semaine.</p>
                        <div class="section text-center important-text text-success">
						    <p>Vous pouvez consulter les 5 valeurs présentées</p>
					    </div>
                    </div>
				</div>
		
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-bibliotheque-value.html.twig' with {'bullesTypeData': picVolume} %}
				</div>	
			</div>
		</div>

{% endblock %}