{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque - Pics de volumes
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

		<div class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
					<div class="d-flex align-items-center mb-3 p-3 bg-light rounded">
						<span class="fi fi-fr" style="font-size: 30px"></span>
						<span class="mx-3">
							DRONE VOLT - ALDVR
						</span>
					</div>
					<div class="card mb-3" style="border: none">
						<div class="row g-2">
							<div class="col-md-8">
								<div class="bg-info p-2 text-center text-light">
									<span class="p-0">
										GRAPHIQUE JOUR
									</span>
								</div>
								<a class="image-popup-no-margins" href="{{ asset('images/1.png') }}">
									<img src="{{ asset('images/1.png') }}" class="img-fluid rounded-start" alt="...">
								</a>
							</div>
							<div class="col-md-4">
								<div class="bg-info p-2 text-center text-light">
									<span class="p-0">
										RANGE
									</span>
								</div>
								<div class="card-body">
									<h5 class="card-title">Commentaire</h5>
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3" style="border: none">
						<div class="row g-2">
							<div class="col-md-8">
								<div class="bg-success p-2 text-center text-light">
									<span class="p-0">
										GRAPHIQUE SEMAINE
									</span>
								</div>
								<a class="image-popup-no-margins" href="{{ asset('images/1.png') }}">
									<img src="{{ asset('images/1.png') }}" class="img-fluid rounded-start" alt="...">
								</a>
							</div>
							<div class="col-md-4">
								<div class="bg-success p-2 text-center text-light">
									<span class="p-0">
										VALIDATION
									</span>
								</div>
								<div class="card-body">
									<h5 class="card-title">Commentaire</h5>
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-bibliotheque.html.twig' %}
				</div>	
			</div>
		</div>

{% endblock %}