{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque - Volumes faibles
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

		<div class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
					<div class="col px-0 text-center mb-3">
					    <h1 class="display-5 fst-italic"><strong>Volumes faibles</strong></h1>
					</div>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">La particularité de ces valeurs réside dans les volumes échangées.</p>
						<p class="text-justify">Les volumes échangés sont faibles, voire très faibles.</p>
						<p class="text-justify">Il n’en demeure pas moins qu’elles forment des bulles donc suscitent un intérêt certain.</p>
						<p class="text-justify">Elles sont fortement déconseillées par beaucoup de conseillers.</p>
						<p class="text-justify">Il convient notamment de s’y intéresser, leur démarrage sont foudroyant, en quelques jours vous pouvez réaliser un belle plus-value.</p>
						<p class="text-justify">La prudence consiste néanmoins à en acquérir une quantité réduite, comme on dit, une demie louche.</p>
						<p class="text-justify">Les bulles doivent toujours être validées par un écartement des bandes de Bollinger sur l’unité de temps Semaine.</p>
                        <div class="section text-center important-text text-success">
						    <p>Vous pouvez consulter les valeurs présentées</p>
					    </div>
                    </div>
				</div>
		
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-bibliotheque-value.html.twig' with {'bullesTypeData': volumesFaibles} %}
				</div>	
			</div>
		</div>

{% endblock %}