{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque - Pic de volumes + Ramassage
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

		<div class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
					<div class="col px-0 text-center mb-3">
					    <h1 class="display-5 fst-italic"><strong>Pic de volumes + ramassage</strong></h1>
					</div>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">Le pic de volumes intervient au début de la bulle, voir aucours de formation de la bulle. Il est ensuite suivi de volumes importants.</p>
						<p class="text-justify">Sont concernées toutes les bulles de type 1 et de type 2.</p>
						<p class="text-justify">Les bulles doivent toujours être validées par un écartement des bandes de Bollinger sur l’unité de temps Semaine.</p>
                        <div class="section text-center important-text text-success">
						    <p>Vous pouvez consulter les 5 valeurs présentées</p>
					    </div>
                    </div>
				</div>
		
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-bibliotheque-value.html.twig' with {'bullesTypeData': picRamassageData} %}
				</div>	
			</div>
		</div>

{% endblock %}