{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque - Bulle Type 1
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

		<div class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
					<div class="col px-0 text-center mb-3">
					    <h1 class="display-5 fst-italic"><strong>Les bulles de type 1</strong></h1>
					</div>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">La caractéristique de la bulle de type 1 consiste en la formation d’’une bulle ovale formée par
						les bandes de Bollinger, dont la ressemblance est très proche d’un ballon de Rugby. La bulle
						est toujours inclinée vers le haut.</p>
						<p class="text-justify">Toutes les bulles ne sont pas parfaites, de nombreuses bulles ont une forme baroque.</p>
						<p>Les bulles doivent toujours être validées par un écartement des bandes de Bollinger sur l’unité de temps Semaine.</p>
                        <div class="section text-center important-text text-success">
						    <p>Vous pouvez consulter les 5 valeurs présentées</p>
					    </div>
                    </div>
				</div>
		
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-bibliotheque-value.html.twig' with {'bullesType1Data': bullesTypeData} %}
				</div>	
			</div>
		</div>

{% endblock %}