{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque - Introductions récentes
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

		<div class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
					<div class="col px-0 text-center mb-3">
					    <h1 class="display-5 fst-italic"><strong>Introductions récentes</strong></h1>
					</div>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">Ce sont des valeurs qui ont été introduites en bourse environ 52 semaines avant de donner un signal, voir moins de quelques mois.</p>
						<p class="text-justify">Ces sociétés s’introduisent en bourse pour lever des fonds nécessaires à leur développement. En général, elles présentent un projet séduisant.</p>
						<p class="text-justify">Pour quelles raisons ne pas s’y intéresser quand bien même elles n’ont pas un passé de plusieurs exercices.</p>
						<p class="text-justify">En mettre dans son portefeuille modérément peut apporter une plus-value substantielle et vous apporter de biens meilleurs résultats que des blue ships.</p>
						<p class="text-justify">Les bulles doivent toujours être validées par un écartement des bandes de Bollinger sur l’unité de temps Semaine.</p>
                        <div class="section text-center important-text text-success">
						    <p>Vous pouvez consulter les valeurs présentées</p>
					    </div>
                    </div>
				</div>
		
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-bibliotheque-value.html.twig' with {'bullesTypeData': intoduction} %}
				</div>	
			</div>
		</div>

{% endblock %}