{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Bien Débuter
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	<main class="custom-container mt-4">
		<div class="row g-5">
			<div class="col-md-9">
				<div class="px-4 py-2 p-md-4 mb-3 text-dark rounded">
					<div class="col px-0 text-center">
						<h1 class="display-5 fst-italic"><strong>Bien débuter</strong></h1>
					</div>
				</div>
				<div class="container-fluid bg-light mb-4 p-3">
					<div class="text-center">
						<p class="lead fw-bold">Aucune profession, ingénierie, médicale ne peut être exercée sans avoir étudié.</p>
						<p class="lead fw-bold">Il en est de même pour intervenir sur les marchés financiers.</p>
						<p class="lead fw-bold">Intervenir sur les marchés financiers nécessite un investissement important.</p>
					</div>
					<p>
						Apprendre une méthode est la meilleure solution. Sans investissement personnel on ne réussit rien, on bricole.
						Vous passerez beaucoup moins de temps à apprendre une méthode que le temps passé avec des vidéos, et vous
						ne serez plus pollué par cet environnement négatif.
					</p>
					<p class="fst-italic">
						<b>« Sans méthode, vous partez perdant dès le début »</b>
						<span class="quote-author blockquote-footer">Mark Minervini</span>
					</p>
					<p class="fst-italic">
						<b>« Ayez une méthode, n&#39;importe quelle méthode, mais ayez une méthode. Si la méthode est mauvaise vous pouvez toujours l&#39;améliorer. Si vous n&#39;avez aucune méthode, vous partez perdant dès le début. »</b>
						<span class="quote-author blockquote-footer">Mark Minervini</span>
					</p>
				</div>

				<h2>Ce qu’il faut faire</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>La chose la plus importante : avoir une méthode simple dans laquelle vous devrez avoir une totale confiance.</p>
					<ul>
						<li>Vous pouvez choisir une méthode mais vous devez bien la comprendre. Trop complexe, vous rencontrerez des difficultés.</li>
						<li>Vous pouvez également créer votre méthode et vous comprendrez que 90% de ce que l’on vous raconte est inutile. En téléchargeant la liste des valeurs mise à votre disposition, vous pourrez créer votre méthode.</li>
					</ul>
					<p>Une méthode doit avoir fait l&#39;objet d&#39;une étude statistique éprouvée sur une période significative. Un backtesting n&#39;est absolument pas une garantie.</p>
					<p>Une méthode doit être simple, vous devez être en mesure de la présenter avec quelques critères. Nicolas Darvas n&#39;avait que la boîte et les volumes. Une méthode simple vous permettra de comprendre les raisons d’une erreur.</p>
					<p>Une méthode simple c&#39;est une configuration. Avec une configuration vous passez moins de temps à chercher un gagnant.</p>
					<p>Une méthode simple est une méthode dans laquelle il est plus facile d’avoir une totale confiance indispensable.</p>
					<div class="pt-3 text-center">
						<p class="lead fw-bold">N’oubliez pas, une méthode simple c&#39;est le luxe suprême</p>
						<p class="lead fw-bold">Zenbourse vous propose une méthode simple.</p>
					</div>
				</div>

				<h2>Ce qu’il faut éviter de faire</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Demander des conseils</h5>
					<ul>
						<li>Votre conseiller bancaire n’est probablement pas compétent, il vend les produits de sa banque. S’il était compétent, il serait probablement dans un service spécialisé.</li>
						<li>
							Aux conseillers en ligne, ils ont toujours la solution miracle, mais ils vous proposent systématiquement :
							<ul>
								<li>Une formation complète avec 90% de choses inutiles pour un cout exorbitant, voire jusqu’à 5 000 €uros.</li>
								<li>Un abonnement annuel à leur académie dont le cout peut atteindre 1 000 €uros</li>
								<li>Un abonnement annuel « service guidé » à leur académie dont le cout peut atteindre 1 000 €uros</li>
								<li>Un abonnement à vie « service guidé » pour environ 4 000 €uros</li>
								<li>Etc.</li>
							</ul>
						</li>
					</ul>
					<p>A les entendre ou les lire, Ils ont des outils performants, redoutables, des systèmes roquettes de marché, fusées, missiles, moindre risque, ça brille sur le papier ! Comme on dit grands causaux petits faiseux.</p>
					<div class="mt-4">
						<h5>Recourir à l’environnement médiatique</h5>
						<p>Que ce soit les médias en tout genre et les conseillers, ce sont vos pires ennemis. Plus vous les écouterez, plus ils vous pourriront la vie. Vous finirez par rejeter votre méthode.</p>
						<p>Que ce soit la presse, les vidéos, les conseillers bancaires ou non, tous n&#39;ont pas les mêmes intérêts. Tout est payant et mêmes à des tarifs prohibitifs.</p>
						<ul>
							<li>La presse informe trop tardivement, lorsque la hausse se termine.</li>
							<li>Les vidéos vous présentent des scénarios hypothétiques qui n&#39;ont rien a voir avec une méthode.</li>
							<li>Les conseillers clientèles sont des vendeurs de produits de leur banque. Leurs connaissances en analyse technique ? sont quasiment inexistantes.</li>
							<li>Les conseillers du web sont de grands opportunistes, de grands baratineurs.</li>
							<li>Les vidéos vous présentent des scénarii et vous n’aoorenez rien</li>
						</ul>	
					</div>
					<div class="text-center">
						<p class="lead fw-bold">Les robins des bois sont très rares dans ce milieu.</p>
					</div>
				</div>

				<h2>Vos premières positions</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Vos premières positions doivent être un succès. Elles le seront seulement si vous avez une méthode et si vous en respectez les règles.</p>
					<p>Réussir ses premières positions, c&#39;est la confirmation que vous avez une méthode, que vous en respectez les règles et que vous vous êtes investi.</p>
				</div>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>

{% endblock %}
