{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Bien Débuter
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	<main class="custom-container mt-4">
		<div class="row g-5">
			<div class="col-md-9">
				<div class="container-fluid bg-light mb-4 p-3">
					<div class="text-center">
						<p class="lead">Aucune profession, ingénierie, médicale ne peut être exercée sans avoir étudié.</p>
						<p class="lead">Il en est de même pour intervenir sur les marchés financiers.</p>
						<p class="lead">Intervenir sur les marchés financiers nécessite un investissement important</p>
					</div>
					<p>
						Apprendre une méthode est la meilleure solution. Sans investissement personnel on ne réussit rien, on bricole.
						Vous passerez beaucoup moins de temps à apprendre une méthode que le temps passé avec des vidéos, et vous
						ne serez plus pollué par cet environnement négatif.
					</p>
					<p class="fst-italic">
						« Sans méthode, vous partez perdant dès le début »
						<span class="quote-author blockquote-footer">Mark Minervini</span>
					</p>
					<p class="fst-italic">
						« Ayez une méthode, n&#39;importe quelle méthode, mais ayez une méthode. Si la méthode est mauvaise vous pouvez toujours l&#39;améliorer. Si vous n&#39;avez aucune méthode, vous partez perdant dès le début. »
						<span class="quote-author blockquote-footer">Mark Minervini</span>
					</p>
				</div>

				<h2>Ce qu’il faut faire</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>La chose la plus importante : avoir une méthode simple dans laquelle vous devrez avoir une totale confiance.</p>
					<ul>
						<li>Vous pouvez choisir une méthode mais vous devez bien la comprendre. Trop complexe, vous rencontrerez des difficultés.</li>
						<li>Vous pouvez également créer votre méthode et vous comprendrez que 90% de ce que l’on vous raconte est inutile. En téléchargeant la liste des valeurs mise à votre disposition, vous pourrez créer votre méthode.</li>
					</ul>
					<p>Une méthode doit avoir fait l&#39;objet d&#39;une étude statistique éprouvée sur une période significative. Un backtesting n&#39;est absolument pas une garantie.</p>
					<p>Une méthode doit être simple, vous devez être en mesure de la présenter avec quelques critères. Nicolas Darvas n&#39;avait que la boîte et les volumes. Une méthode simple vous permettra de comprendre les raisons d’une erreur.</p>
					<p>Une méthode simple c&#39;est une configuration. Avec une configuration vous passez moins de temps à chercher un gagnant.</p>
					<p>Une méthode simple est une méthode dans laquelle il est plus facile d’avoir une totale confiance indispensable.</p>
					<div class="pt-3 text-center">
						<p class="lead fw-bold">N’oubliez pas, une méthode simple c&#39;est le luxe suprême</p>
						<p class="lead fw-bold">Zenbourse vous propose une méthode simple.</p>
					</div>
				</div>

				<h2>Ce qu’il faut éviter de faire</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Demander des conseils</h5>
					<ul>
						<li>Votre conseiller bancaire n’est probablement pas compétent, il vend les produits de sa banque. S’il était compétent, il serait probablement dans un service spécialisé.</li>
						<li>
							Aux conseillers en ligne, ils ont toujours la solution miracle, mais ils vous proposent systématiquement :
							<ul>
								<li>Une formation complète avec 90% de choses inutiles pour un cout exorbitant, voire jusqu’à 5 000 €uros.</li>
								<li>Un abonnement annuel à leur académie dont le cout peut atteindre 1 000 €uros</li>
								<li>Un abonnement annuel « service guidé » à leur académie dont le cout peut atteindre 1 000 €uros</li>
								<li>Un abonnement à vie « service guidé » pour environ 4 000 €uros</li>
								<li>Etc.</li>
							</ul>
						</li>
					</ul>
					<p>A les entendre ou les lire, Ils ont des outils performants, redoutables, des systèmes roquettes de marché, fusées, missiles, moindre risque, ça brille sur le papier ! Comme on dit grands causaux petits faiseux.</p>
					<div class="mt-4">
						<h5>Recourir à l’environnement médiatique</h5>
						<p>Que ce soit les médias en tout genre et les conseillers, ce sont vos pires ennemis. Plus vous les écouterez, plus ils vous pourriront la vie. Vous finirez par rejeter votre méthode.</p>
						<p>Que ce soit la presse, les vidéos, les conseillers bancaires ou non, tous n&#39;ont pas les mêmes intérêts. Tout est payant et mêmes à des tarifs prohibitifs.</p>
						<ul>
							<li>La presse informe trop tardivement, lorsque la hausse se termine.</li>
							<li>Les vidéos vous présentent des scénarios hypothétiques qui n&#39;ont rien a voir avec une méthode.</li>
							<li>Les conseillers clientèles sont des vendeurs de produits de leur banque. Leurs connaissances en analyse technique ? sont quasiment inexistantes.</li>
							<li>Les conseillers du web sont de grands opportunistes, de grands baratineurs.</li>
							<li>Les vidéos vous présentent des scénarii et vous n’aoorenez rien</li>
						</ul>	
					</div>
					<div class="text-center">
						<p class="lead">Les robins des bois sont très rares dans ce milieu.</p>
					</div>
				</div>

				<h2>Vos premières positions</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Vos premières positions doivent être un succès. Elles le seront seulement si vous avez une méthode et si vous en respectez les règles.</p>
					<p>Réussir ses premières positions, c&#39;est la confirmation que vous avez une méthode, que vous en respectez les règles et que vous vous êtes investi.</p>
				</div>

				<h2>Une méthode simple</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Pour toute activité, la réussite passe par une méthode de travail. Une méthode dans laquelle il est indispensable d’avoir une totale confiance.</p>
					<p>Une méthode simple c&#39;est une configuration. Dans chaque métier, il y a une méthode, pour quelles raisons ce ne serait pas possible en bourse ?</p>
					<p>Vous détectez une configuration très intéressante et très lucrative, sur plus de 80.000 actions cotées sur les marchés financiers, vous la retrouverez de temps en temps. Nicolas Darvas a fait fortune avec moins de 10 valeurs. Soyez patient et exigeant.</p>
					<p>Une seule configuration vous passez moins de temps a chercher un gagnant</p>
					<div class="pt-3 text-center">
						<p class="lead fw-bold">N’oubliez pas, une méthode simple c&#39;est le luxe suprême</p>
					</div>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Apprendre une méthode</h5>
					<p>Apprendre une méthode est la meilleure solution. Sans investissement personnel on ne réussit rien, on bricole. Toute profession médicale ou ingénierie nécessite de faire l&#39;effort d&#39;étudier.</p>
					<p>Vous passerez beaucoup moins de temps à apprendre une méthode que le temps passé avec des vidéos, et vous ne serez plus pollué par cet environnement négatif.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Bien débuter en bourse</h5>
					<p class="fst-italic">
						« Sans méthode, vous partez perdant dès le début »
						<span class="quote-author blockquote-footer">Mark Minervini</span>
					</p>
					<p class="fst-italic">
						« Ayez une méthode, n&#39;importe quelle méthode, mais ayez une méthode. Si la méthode est mauvaise vous pouvez toujours l&#39;améliorer. Si vous n&#39;avez aucune méthode, vous partez perdant dès le début. »
						<span class="quote-author blockquote-footer">Mark Minervini</span>
					</p>
					<p>Aucune profession médicale, ingénierie, etc. ne peut être exercée sans avoir étudier. Il en est de même pour les activités financières.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Choix d&#39;une méthode ou d&#39;un module</h5>
					<p>Il ne s&#39;agit pas d&#39;un logiciel mais d&#39;une méthode de travail.</p>
					<p>J&#39;écarte tout ce qui est module, atelier qui ne sont que des gadgets comparables à des figures graphiques, arguments commerciaux inspirés de livres. Il vaut mieux apprendre une vraie méthode que d&#39;accumuler les modules ou ateliers.</p>
					<p>C&#39;est s&#39;engager dans la dispersion et ne plus rien comprendre.</p>
					<h5 class="mt-4">Les critères d&#39;une méthode</h5>
					<p>Une méthode doit avoir fait l&#39;objet d&#39;une étude statistique éprouvée sur une période significative. Un backtesting n&#39;est absolument pas une garantie.</p>
					<div class="mt-3">
						<p>La méthode doit être simple, vous devez être en mesure de la présenter avec quelques critères. Darvas n&#39;avait que la boîte et les volumes. <br>
						Les performances annoncées ne veulent rien dire sauf si elles ne sont accompagnées de critères objectifs, sinon, on vous présente de la ratatouille.</p>
					</div>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<p>Vous souhaitez investir en bourse, sachez que vous entrez dans un monde de requins <br> Ils veulent tous votre argent</p>
					<h5 class="mt-4">Les conseillers bancaires</h5>
					<p>Ils ont tous les meilleurs produits pour vous. Mais il ne connaîssent rien en bourse, ce sont des vendeurs qui ont des objectifs fixés par leur employeur.</p>
					<h5 class="mt-4">Les conseillers en ligne</h5>
					<p>Ils ont toujours la méthode miracle, ils vous proposent</p>
					<ul>
						<li>Une formation complète avec 90% de choses inutiles pour un coût exorbitant d&#39;environ 5.000 €uros.</li>
						<li>Un abonnement annuel à l&#39;académie des graphs au prix de 800 €uros environ.</li>
						<li>Un abonnement annuel &quot;service guidé&quot; au prix de 900 €uros environ.</li>
						<li>Un abonnement à vie &quot;service guidé&quot; au prix de 3500 €uros environ.</li>
						<li>Etc.</li>
					</ul>
					<p>A les entendre ou les lire, Ils ont des outils performants, redoutables, des systèmes roquettes de marché, fusées, missiles, moindre risque, ça brille sur le papier ! Comme on dit dans la Sarthe ce sont des grands causaux petits faiseux.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5>L&#39;environnement médiatique</h5>
					<p>Que ce soit les médias en tout genre et les conseillers, ce sont vos pires ennemis. Plus vous les écouterez, plus ils vous pourriront la vie. Vous finirez par rejeter votre méthode.</p>
					<p>Que ce soit la presse, les vidéos, les conseillers bancaires ou non, tous n&#39;ont pas les mêmes intérêts. Tout est payant et mêmes à des tarifs prohibitifs.</p>
					<ul>
						<li>La presse informe trop tardivement, lorsque la hausse se termine.</li>
						<li>Les vidéos vous présentent des scénarios hypothétiques qui n&#39;ont rien a voir avec une méthode.</li>
						<li>Les conseillers clientèles sont des vendeurs de produits de leur banque. Leurs connaissance en analyse technique ? est quasiment inexistante.</li>
						<li>Les conseillers du web sont de grands opportunistes, de grands baratineurs.</li>
					</ul>
					<p>Les robins des bois sont très rares dans ce milieu.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Vos premières positions</h5>
					<p>Vos premières positions doivent être un succès. Elles le seront seulement si vous avez une méthode et si vous en respectez les règles.</p>
					<p>Réussir ses premières positions, c&#39;est la confirmation que vous avez une méthode, que vous en respectez les règles et que vous vous êtes investi.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Une méthode simple</h5>
					<p>Pour toute activité, la réussite passe par une méthode de travail. Une méthode dans laquelle il est indispensable d’avoir une totale confiance.</p>
					<p>Une méthode simple c&#39;est une configuration. Dans chaque métier, il y a une méthode, pour quelles raisons ce ne serait pas possible en bourse ?</p>
					<p>Vous détectez une configuration très intéressante et très lucrative, sur plus de 80.000 actions cotées sur les marchés financiers, vous la retrouverez de temps en temps. Nicolas Darvas a fait fortune avec moins de 10 valeurs. Soyez patient et exigeant.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<p>Une seule configuration vous passez moins de temps a chercher un gagnant.</p>
					<p>Une méthode simple c&#39;est le luxe suprême.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5>Apprendre une méthode</h5>
					<p>Apprendre une méthode est la meilleure solution. Sans investissement personnel on ne réussit rien, on bricole. Toute profession médicale ou ingénierie nécessite de faire l&#39;effort d&#39;étudier.</p>
					<p>Vous passerez beaucoup moins de temps à apprendre une méthode que le temps passé avec des vidéos, et vous ne serez plus pollué par cet environnement négatif.</p>
				</div>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>

{% endblock %}
