{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Bien Débuter
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	{% include 'partials/menu_home.html.twig' %}
	<main class="container-fluid mt-4">
		<div class="row g-5">
			<div class="col-md-9">
				<h3 class="pb-4 mb-4 fst-italic border-bottom">Bien débuter</h3>
				<p>
					Pour gagner en bourseIl faut apprendre avant de faire
				</p>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>

{% endblock %}
