{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Citation
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	{% include 'partials/menu_home.html.twig' %}
	<main class="custom-container">
		<div class="p-4 p-md-5 mb-4 text-dark rounded">
			<div class="col px-0 text-center">
				<h1 class="display-5 fst-italic">La chose la plus importante le bon sens</h1>
				<p class="lead my-3">Ces quelques citations de grands investisseurs vous aideront</p>
				<p>c'est le luxe suprême !</p>
			</div>
		</div>
		<div class="row g-5">
			<div class="col-md-9">
				<h3 class="pb-4 mb-4 fst-italic border-bottom">Citations de Jesse Livermore</h3>
				<div class="mb-5" id="article-liste">
					<p>
						« Dans les marchés haussiers, les informations baissières sont tout simplement ignorées et les informations haussières sont exagérées et inversement.» Jesse Livermore« Quand le marché est baissier vous commencez a avoir de bonnes nouvelles et ça continue de baisser pourquoi aller a contre courant de la tendance et inversement.» Jesse LivermoreLe grand danger c'est la pollution qui provoque l'anticipation et surtout vous fait oublier votre méthode en vous faisant entretenir des espoirs chimériques.Vous avez une méthode simple, efficace, alors cessez de lire la presse spécialisée, cessez de consulter des sites web, cessez de regarder des vidéos qui insidieusement vous rendent dépendant et vous font oublier que votre meilleur allié c'est votre méthode et seulement votre méthode.
					</p>
					<p>
						« Ce qui s'est produit dans le passé se reproduira encore et encore. Parce que la nature humaine ne change pas et que les émotions barreront toujours la route de l'intelligence. » Jesse LivermoreEvitez les erreurs qui conduisent à perdre de l'argent, laissez de côté les idées préconçues et appliquez votre méthodeComme 90% perdent leur capital, faire ce que tout le monde fait, c'est faire comme tout le monde, c'est perdre de l'argent.Un titre qui semble peu cher, est il vraiment peu cher ?, N'écoutez pas les conseils des autres. N'achetez jamais au feeling.
					</p>
				</div>

				<h3 class="pb-4 mb-4 fst-italic border-bottom">Citations de Warren Buffet</h3>
				<p class="mb-5">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, doloremque facilis iure laboriosam neque omnis porro quo recusandae tempore. A accusantium deserunt dicta dignissimos dolorem dolorum ipsum numquam quibusdam sapiente.</span>
					<span>Ad cumque enim est eum expedita maxime minima nesciunt recusandae repellendus tempora. Cupiditate ducimus harum illo nobis tempore vero! A accusantium fugiat iste maiores, necessitatibus nemo possimus qui similique suscipit!</span>
					<span>Commodi maxime minima mollitia nulla! Dolor doloribus, earum iusto modi quidem quis quisquam repudiandae. Asperiores aut cupiditate debitis facilis, fuga neque quidem rerum. Ab itaque iusto laboriosam minima! Delectus, repellat.</span>
					<span>Adipisci consequuntur excepturi fuga fugit illum ipsam omnis optio repudiandae veritatis vero. Asperiores blanditiis consequatur cupiditate dicta dignissimos harum id impedit magnam magni nesciunt nulla numquam obcaecati quis, sed velit.</span>
					<span>Ab consectetur cum dolor ducimus est excepturi exercitationem in itaque, maiores maxime nihil nisi omnis porro repellat repudiandae, sapiente sed ullam? Dolorem enim esse fugiat fugit, laborum minima numquam sapiente!</span>
				</p>

				<h3 class="pb-4 mb-4 fst-italic border-bottom">Citations de Marc Miniverni</h3>
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dignissimos doloribus eaque eos excepturi explicabo harum in laboriosam magni nam, necessitatibus nulla officiis, quaerat quis quod quos sit veritatis voluptate.</span>
					<span>Blanditiis dignissimos enim hic officia voluptatibus. Dicta ipsa mollitia possimus recusandae sapiente unde, vero! Alias dignissimos nostrum pariatur sunt tempore vel. Corporis delectus neque odit officiis recusandae voluptas voluptate voluptatum?</span>
					<span>Animi, deserunt excepturi illo incidunt modi molestias mollitia sequi tempore! Ab atque delectus deserunt dicta enim excepturi in iusto labore laborum natus nesciunt non porro, ratione veritatis vero? Numquam, repellendus.</span>
					<span>Aliquam aliquid architecto, at beatae blanditiis cum cupiditate dolor dolorem dolores enim eos, eum exercitationem expedita explicabo impedit incidunt inventore iste minima necessitatibus nisi quis quo, quod reiciendis veritatis vitae.</span>
					<span>At blanditiis deleniti et id illo minus neque, nesciunt odit praesentium quae ratione suscipit! Consequuntur delectus distinctio eligendi eum expedita fugit hic, ipsa maiores neque officiis quisquam sint sit ullam.</span>
				</p>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>
{% endblock %}
