{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Citation
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	<main class="custom-container">
		
		<div class="row g-5">
			<div class="col-md-9">
				<div class="px-4 py-2 p-md-5 mb-3 text-dark rounded">
					<div class="col px-0 text-center">
						<h1 class="display-5 fst-italic">La chose la plus importante le bon sens</h1>
						<p class="lead my-3 fw-bold">Ces quelques citations de grands investisseurs vous aideront</p>
					</div>
				</div>
				<h2>Citations de Jesse Livermore</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<div class="card border-0">
						<div class="card-body" style="background-color: #e6ffe6;">
							<p class="fst-italic">
								<b>« Dans les marchés haussiers, les informations baissières sont tout simplement ignorées et les informations
								haussières sont exagérées et inversement. »</b>
								<span class="quote-author blockquote-footer">Jesse Livermore</span>
							</p>
							<p class="fst-italic">
								<b>« Quand le marché est baissier vous commencez à avoir de bonnes nouvelles et ça continue de baisser pourquoi
								aller à contrecourant de la tendance et inversement. »</b>
								<span class="quote-author blockquote-footer">Jesse Livermore</span>
							</p>
						</div>
						<div class="card-footer border-0 text-dark">
							<p>Le grand danger c'est la pollution qui provoque l'anticipation et surtout vous fait oublier votre méthode en vous faisant entretenir des espoirs chimériques.</p>
							<p>Vous avez une méthode simple, efficace, alors cessez de lire la presse spécialisée, cessez de consulter des sites web, cessez de regarder des vidéos qui insidieusement vous rendent dépendant et vous font oublier que votre meilleur allié c'est votre méthode et seulement votre méthode.</p>
						</div>
					</div>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<div class="card border-0">
						<div class="card-body" style="background-color: #e6ffe6;">
							<p class="fst-italic">
								<b>« Ce qui s&#39;est produit dans le passé se reproduira encore et encore. Parce que la nature humaine ne change pas et
								que les émotions barreront toujours la route de l&#39;intelligence. »</b>
								<span class="quote-author blockquote-footer">Jesse Livermore</span>
							</p>
						</div>
						<div class="card-footer border-0 text-dark">
							<p>Evitez les erreurs qui conduisent à perdre de l&#39;argent, laissez de côté les idées préconçues et appliquez votre méthode.</p>
							<p>Comme 90% perdent leur capital, faire ce que tout le monde fait, c&#39;est faire comme tout le monde, c&#39;est perdre de l&#39;argent.</p>
							<p>Un titre qui semble peu cher, est il vraiment peu cher ?, N&#39;écoutez pas les conseils des autres. N&#39;achetez jamais au feeling.</p>
						</div>
					</div>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<div class="card border-0">
						<div class="card-body" style="background-color: #e6ffe6;">
							<p class="fst-italic">
								<b>« Quand vous ne faites rien, les spéculateurs qui se sentent forcés d&#39;acheter et de vendre tous les jours construisent
								les fondations de vos futurs profits. Vous récolterez les bénéfices de leurs erreurs. »</b>
								<span class="quote-author blockquote-footer">Jesse Livermore</span>
							</p>
						</div>
						<div class="card-footer border-0 text-dark">
							<p>Toutes les études ont prouvé que ceux qui faisaient le plus de transactions étaient ceux qui perdaient le plus d&#39;argent.</p>
							<p>Ne cherchez pas à battre les robots, les gérants de hedge fund qui ont accès aux meilleures informations financières, aux doctorants en mathématiques, vouloir les battre est une utopie.</p>
							<p>Ne vous aventurez pas sur un terrain ou vous n&#39;aurez pas l&#39;avantage. Soyez logique en jouant un jeu que vousgagnez</p>
						</div>
					</div>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<div class="card border-0">
						<div class="card-body" style="background-color: #e6ffe6;">
							<p class="fst-italic">
								<b>« Un homme doit avoir une confiance absolue en son propre jugement s&#39;il veut gagner de l&#39;argent sur les marchés financiers. »</b>
								<span class="quote-author blockquote-footer">Jesse Livermore</span>
							</p>
						</div>
						<div class="card-footer border-0 text-dark">
							<p>Pour être un gagnant il faut une confiance absolue qui vous permet de tenir quand vous êtes dans le doute. Si vous n&#39;avez pas une confiance inébranlable.</p>
							<p>Le doute s&#39;installera aux premières difficultés. Vous pensez que la méthode ne fonctionne plus et vous la changez, c&#39;est à dire que vous faites ce qu&#39;il ne faut pas faire. Une amélioration peut être salutaire.</p>
						</div>
					</div>
				</div>

				<h2>Citations de Warren Buffet</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<div class="card border-0">
						<div class="card-body" style="background-color: #e6ffe6;">
							<p class="fst-italic">
								<b>« Les marchés financiers sont un système conçu pour transférer l&#39;argent de l&#39;homme impatient à l&#39;homme patient. »</b>
								<span class="quote-author blockquote-footer">Warren Buffet</span>
							</p>
						</div>
						<div class="card-footer border-0 text-dark">
							<p>En matière d&#39;investissement, le temps est votre meilleur ami. Les intérêts cumulés sont une force mathématique puissante qui joue en votre faveur sur le long terme.</p>
							<p>Les indices boursiers ont naturellement une orientation haussière dans les marchés en croissance. Sur le long terme la tendance générale joue en votre faveur. Quand vous acheter des actions, laisser leur le temps de s&#39;apprécier.</p>
						</div>
					</div>
				</div>
				<div class="container-fluid bg-light mb-4 p-3">
					<div class="card border-0">
						<div class="card-body" style="background-color: #e6ffe6;">
							<p class="fst-italic">
								<b>« La diversification est une protection contre l’ignorance. Elle ne s’applique pas vraiment à ceux qui agissent en connaissance de cause »</b>
								<span class="quote-author blockquote-footer">Warren Buffet</span>
							</p>
						</div>
						<div class="card-footer border-0 text-dark">
							<p>Selon Warren Buffet, les gains d’un investissement neutralisent les pertes d’un autre et inversement. Par conséquent, la diversification serait synonyme de rendements faibles.</p>
							<p>La diversification reste néanmoins un principe de base sain pour la plupart des investisseurs. Il est sûrement préférable de détenir un nombre relativement restreint de titres.</p>
						</div>
					</div>
				</div>

				<h2>Citations de Mark Minervini</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<div class="card border-0">
						<div class="card-body" style="background-color: #e6ffe6;">
							<p class="fst-italic">
								<b>« Ayez une méthode, n&#39;importe quelle méthode, mais ayez une méthode. Si la méthode est mauvaise vous pouvez toujours l&#39;améliorer. Si vous n&#39;avez aucune méthode, vous partez perdant dès le début. »</b>
								<span class="quote-author blockquote-footer">Mark Minervini</span>
							</p>
						</div>
						<div class="card-footer border-0 text-dark">
							<p>Une méthode solide est un ensemble de règles qui reposent sur des statistiques éprouvées dans le temps. Les règles doivent être simples et claires. Toute approximation, complexité vous conduira à des interprétations fatales.</p>
							<p>Vous devez être capable d&#39;énoncer en quelques mots les points clés de votre méthode et de les faire comprendre à un novice, sinon vous n&#39;avez probablement pas de méthode.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>
{% endblock %}
