{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	<main class="custom-container">
		{% for label, messages in  app.flashes%}
			{% for message in messages %}
				<div class="alert alert-{{ label }} text-center fw-bold">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<div class="row g-5">
			<div class="col-md-9">

				<div class="container-fluid quote-container border mb-4">
					<p class="quote-text">« Se simplifier la vie, c’est le luxe suprême ! » <span class="quote-author blockquote-footer">Léonard de Vinci</span></p>
					<p class="middle-quote">Une méthode simple, c’est le luxe suprême !</p>
					<p class="right-quote">Zenbourse, la méthode qui vous simplifie la vie !</p>
				</div>

				<div class="container-fluid bg-light mb-4">
					<div class="content-wrapper row">
						<div class="left-section col-md-4">
							<span>90 %</span>
						</div>

						<div class="right-section col-md-8">
							<p>Pourcentage des investisseurs particuliers qui perdent de l’argent en bourse</p>
							<p class="py-3" >La bourse serait-elle compliquée ou les conseillers seraient-ils nuls ?</p>
							<p>Ce sont les investisseurs et leurs conseillers qui la rendent compliquée</p>
						</div>
					</div>
				</div>

				<h2 id="section-1">La bourse n’est pas compliquée</h2>

				<div class="container bg-light mb-4 p-3">
					<p class="text-center"><strong>Dans la mesure où :</strong></p>
					<ul>
						<li>Vous avez une méthode</li>
						<li>Votre méthode est simple</li>
						<li>Vous en respectez les règles</li>
						<li>Vous êtes patient et discipliné</li>
						<li class="text-danger">Vous excluez tout l'environnement parasite qui gravite autour des activités financières, vidéos, presse,
						conseils en tout genre quel que soit l'origine, banquier, courtiers, conseillers, amis, etc., ils ne vous
						font pas seulement perdre de l'argent mais également beaucoup de temps.</li>
					</ul>

					<div class="section text-center important-text">
						<p>Travaillez avec une méthode simple en respectant les règles, rien de plus facile</p>
					</div>

					<div class="section">
						<p>Exclure l'environnement médiatique n'est peut-être pas évident avec toutes ces sollicitations, mais c'est absolument indispensable.</p>
						<p>Tous ces acteurs vous présentent régulièrement des scénarios qui n'apportent rien, sinon créer des doutes.</p>
						<p>Présenter des scénarios met à l'abri de critiques.</p>
						<p>On a l'impression qu'ils transmettent la théorie de leurs études, très rapidement vous connaissez le niveau de leurs études et la nature de leurs diplômes, ce qui leur permet de paraître crédibles et de pratiquer des tarifs prohibitifs.</p>
					</div>
					<div class="section text-center important-text">
						<p>L'autodidacte qui réussit s'est beaucoup investi, il travaille avec bon sens, il est discipliné, patient,</p>
					</div>
					<div class="section text-center important-text">
						<p>Il a su acquérir la pleine confiance indispensable.</p>
					</div>
				</div>

				<h2 id="section-2">
					« La simplicité est la sophistication suprême » 
					<span class="quote-author blockquote-footer">Léonard de Vinci</span>
				</h2>

				<div class="container-fluid bg-light mb-4 p-3">
					<p>Si la simplicité peut être entendue comme une forme de stupidité, elle est ici posée par de Léonard de Vinci
					comme synonyme de sophistication, autrement dit de complexité.</p>
					<p>La simplicité est souvent difficile à atteindre mais pourtant nécessaire. La complexité implique pesanteur, lenteur
					et génère du stress : parvenir à ne conserver que l’essentiel peut alors être salutaire !</p>
					<p>Si la simplicité est difficile à atteindre, elle reste un objectif.</p>
					<p>En bourse, Nicolas DARVAS est un exemple de simplicité. Il n’utilisait aucun indicateur, ni aucune figure technique.
					Il savait lire les cotations. Il ne disposait pas de l’informatique.</p>
					<p>La question qui se pose : pour quelles raisons s’embarrasser de toutes ces figures techniques largement
					interprétées ? Alors que les cours ne dessinent que des creux et des sommets. Toutes les figures techniques sont
					constituées de creux et de sommets.</p>
					<p>Une tasse avec anse n’est rien d’autre qu’un double creux ascendant. Une tête et épaules inversées également.</p>
					<p>On doit se poser également la questions pour les indicateurs. Combien sont inutiles ? Nicolas DARVAS n’en
					utilisait aucun.</p>
				</div>

				<h2 id="section-3">Les méthodes de Zenbourse « Investisseur » et « Intraday »</h2>

				<div class="container-fluid bg-light mb-4 p-3">
					<p>Nos méthodes simples sont basées sur le bon sens. Pas de figures chartistes ni n’indicateurs. Elles s’apparentent à
					la méthode de Nicolas Darvas.</p>
					<p>
						Elles ont fait au préalable d’une étude statistique considérée comme un prérequis absolument obligatoire. Nous
						avons analysé sur une période d’une année 1000 valeurs, dont environ 300 présentaient des caractéristiques
						communes. 300 était suffisant pour élaborer une méthode. Ce n’était pas du backtesting mais bien une analyse
						visuelle valeur par valeur. Un backtesting n’aurait été d’aucune utilité.
					</p>
				</div>

			</div>

			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>

{% endblock %}
