{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Le Perdant
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	{% include 'partials/menu_home.html.twig' %}

	<main class="custom-container mt-4">
		<div class="row g-5">
			<div class="col-md-9">
				<h3 class="display-6 fst-italic">Grosses pertes, Petits profits</h3>
				<p>
					Pour gagner en bourse, il faut apprendre avant de faire
				</p>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>

{% endblock %}
