{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Le Perdant
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	<main class="custom-container mt-4">
		<div class="row g-5">
			<div class="col-md-9">

				<div class="container-fluid bg-light mb-4 p-4">
					<div class="row">
						<p class="col-12 r-title mb-1" style="margin-left:10%;font-size: 5rem">Grosses pertes</p>
						<p class="col s-title mb-3 text-success" style="text-align:right; margin-right:10%; font-size: 3.5rem">Petits profits</p>
					</div>
					<h5 class="text-center">Pour gagner en bourse, il faut apprendre avant de faire.</h5>
				</div>


				<h2>Comment devient-on un perdant, un adhérent du club des 90</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Le perdant passe de l'optimisme à la désillusion. Ils sont nombreux pour diverses raisons.</p>
					<ul>
						<li>Agit dans la précipitation</li>
						<li>Son capital est insuffisant</li>
						<li>Absence de méthode</li>
						<li>Absence de rigueur, de discipline</li>
						<li>Absence de gestion des positions</li>
						<li>Attentes irréalistes</li>
						<li>Pollution par l'environnement médiatique</li>
						<li>Recours à des conseillers peu scrupuleux</li>
						<li>Achats coup de cœur</li>
						<li>Ne s'adapte pas à l'évolution des marchés</li>
					</ul>
					<h5 class="py-4">Avec une méthode, augmentez vos chances de gagner, et minimisez vos pertes</h5>
					<h5>La bourse n&#39;est pas un casino</h5>
					<p>La bourse n&#39;est pas un casino, c&#39;est une profession qu&#39;il faut absolument apprendre</p>
				</div>		

				<h2>Agit dans la précipitation</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<ul>
						<li>La décision d&#39;investir en Bourse est un choix qui doit être impérativement réfléchi. C&#39;est une activité professionnelle.</li>
						<li>Trop de personnes se lancent après avoir entendu ou lu que l&#39;on devient millionnaire facilement avec la bourse, et se précipitent chez leur banquier sans savoir quoi acheter.</li>
						<li>Ils sont à la merci de leur chargé de clientèle qui leur proposera le produit dit miracle de sa direction. Si le placement monte c&#39;est parfait c&#39;est bien, mais si le produit baisse vous ne serez pas informé et l&#39;on vous dira que c&#39;est un placement long terme et que cela va remonter, il faut être plus que patient.</li>
					</ul>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<h5 class="mb-4">En matière de finances ne faites confiance à personne.</h5>
					<h5 class="text-center">Seul votre investissement dans une méthode vous apportera la confiance.</h5>
				</div>

				<h2>Absence de méthode</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Sans méthode c&#39;est la catastrophe assurée. Vous ne savez pas pour quelles raisons vous achetez une valeur, et vous ne pouvez pas vérifier la pertinence d&#39;une information d&#39;où qu&#39;elle vienne</p>
				</div>

				<h2>Absence de rigueur, de discipline</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Vous avez une méthode, vous devez en respecter les règles, y déroger, même occasionnellement c&#39;est prendre des risques, ça ne marche pas toujours, et quand ça ne marche pas les doutes commencent à s&#39;installer.</p>
				</div>

				<h2>Absence de gestion des positions</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<ul>
						<li>En bourse seule la gestion des positions vous garantit des résultats. Il vaut mieux se protéger en plaçant un ordre d&#39;arrêt de pertes que de rêver avec des objectifs.</li>
						<li>Un stop-loss, lorsqu’il est réajusté à un niveau supérieur au prix d&#39;achat vous garantit un gain.</li>
						<li>Un retounement des cours inférieur au prix d&#39;achat sans stop-loss, c&#39;est une perte assurée et attendre une reprise des cours c&#39;est aggraver les pertes potentielles.</li>
					</ul>
				</div>

				<h2>Attentes irréalistes</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<ul>
						<li>Avoir des attentes irréalistes, c&#39;est tout simplement utopique. En bourse vous ne maitrisez que la gestion de vos positions</li>
						<li>Beaucoup d&#39;investisseurs souhaitent des revenus trop élevés sans tenir compte de la durée que cela nécessite.</li>
					</ul>
				</div>

				<h2>Pollution par l&#39;environnement médiatique</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<ul>
						<li>Il n&#39;y a pas pire ennemi que les news</li>
						<li>Rien que votre méthode et la gestion des stop-loss</li>
					</ul>
				</div>

				<h2>Recours à des conseillers</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Les conseillers ne manquent pas, A quoi servent-ils : toujours 90% de perdants</p>
					<p>Ce sont des opportunistes attirés par l&#39;argent facile sans prendre le moindre risque. Ils ont un pouvoir exceptionnel de dissuasion, tous les moyens sont bons. Ce sont des scénaristes qui ne prennent jamais de risques. Leurs diplômes ne sont que des arguments de vente.</p>
					<p>La loi de Wilfrid PARETO ventée par une école de bourse en ligne n&#39;est pas une méthode mais plutôt une stratégie commerciale. Si vous faites vos profits sur seulement avec 20% de vos positions, vous avez 80% de vos positions Nulles ou perdantes. 20% de positions gagnantes la méthode n&#39;est évidemment pas bonne. Peu importe l&#39;argumentation développée.</p>
					<p>Une stratégie du moindre risque, +38% en 2023 c&#39;est bien mais avec 200 positions, par position ? faites le calcul ! Y a-t-il une vraie méthode ?</p>
					<p>Les exemples sont nombreux</p>
				</div>

				<h2>Achats coup de cœur</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Les sentiments n&#39;ont pas leur place dans les activités financières</p>
					<p>Les achats coup de cœur sont souvent regrettés quel que soit le domaine</p>
				</div>

				<h2>Ne s&#39;adapte pas à l&#39;évolution des marchés</h2>
				<div class="container-fluid bg-light mb-4 p-3">
					<div class="mb-4">
						Les marchés fonctionnent par cycles. Tantôt ils sont à la hausse, tantôt à la baisse. Chaque phase de hausse et de baisse est précédée par des zones d&#39;accumulation et de distribution. Si vous prenez une position à contre-courant du marché, vous vous exposez à perdre de l&#39;argent.
					</div>
					<div class="text-center">
						<h5>Comprendre les tendances est une des clés du succès.</h5><br>
						<h5>Choisissez les périodes les plus favorables pour intervenir sur les marchés.</h5>
					</div>
				</div>

			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>

{% endblock %}
