{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - La Méthode
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

	<main class="custom-container mt-4">
		<div class="row g-5">
			<div class="col-md-9">
				<h2 class="pb-4 fst-italic border-bottom">Méthode Investisseur</h2>
				<div class="container-fluid bg-light mb-4 py-3">
					<ul>
						<li>Une étude statistique</li>
						<li>Une méthode simple</li>
						<li>Une gestion simple</li>
						<li>Pourquoi une méthode</li>
					</ul>

					<h5 class="card-title fst-italic mb-3">Une méthode simple</h5>
					<p>
						L'étude statistique a été le prérequis indispensable pour l'élaboration de la méthode, Il était très important de comprendre comment se prépare un mouvement, de bien apprécier le comportement des investisseurs.
					</p>
					<p>
						Nous avons analysé environ 1000 valeurs sur l'année 2020, ce qui est beaucoup mais au final, il nous restait 300 valeurs aux caractéristiques communes pertinentes.
					</p>
					<p>
						Jouer 300 valeurs sur un exercice est plus que suffisant pour un investisseur particulier. Donc nous pouvions élaborer une méthode.
					</p>
					<p>
						Il s'agit bien d'une analyse individuelle de 1000 valeurs et non d'un backtesting, système auquel nous n'accordons aucun crédit.
					</p>
					<h5 class="card-title fst-italic mb-3">Une méthode simple</h5>
					<h5 class="card-title fst-italic mb-3">Une gestion simple</h5>
					<h5 class="card-title fst-italic mb-3">Pourquoi une méthode</h5>
					<p>
						Pour toute activité, la réussite passe par une méthode de travail. Une méthode simple dans laquelle il est indispensable d’avoir une totale confiance.
					</p>
					<p>
						Aucune profession médicale, recherche, ingénierie ne peut être exercée sans avoir étudié.
						Il en est de même pour intervenir sur les marchés financiers.
					</p>
				</div>
				<h2 class="pb-4 fst-italic border-bottom">Méthode Intraday</h2>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>
{% endblock %}
