{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Performance
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
	<main class="custom-container mt-4">
		<div class="row g-5">
			<div class="col-md-9">
				<h2 class="pb-4">Performance</h2>
				<p>
					Nous présentons un tableau non exhaustif des performances des années qui ont suivies l&#39;étude statistique: 2023, 2022, 2021.
				</p>
				<p>Performances exercice 2023</p>
				<div class="container-fluid bg-light mb-4 p-3">
					<p>Ce tableau comporte volontairement 50 positions permettant de démontrer :</p>
					<ul>
						<li>Qu’avec une méthode, il est facile de trouver des opportunités.</li>
						<li>Qu’il n&#39;est pas nécessaire de visionner des vidéos.</li>
						<li>Que vous trouverez toujours suffisamment d&#39;opportunités pour d&#39;excellents résultats.</li>
						<li>Qu’il n&#39;est pas nécessaire de jouer la baisse, même dans une année sans tendance. Il y aura toujours suffisamment de valeurs pour jouer la hausse.</li>
					</ul>
					<p>Les valeurs de cette liste ont été sélectionnées par notre Proscreener.</p>
					<p>Lors de l&#39;analyse des valeurs, nous avons appliqué les critères de la méthode, mais également des critères plus exigeants, pour arriver à une sélection définitive de valeurs qui ont particulièrement bien performé.</p>
					<p>Nous remarquons :</p>
					<ul>
						<li>Un durée moyenne des positions de 27 jours calendaires, ce qui permet de disposer en permanence de liquidités et de réduire considérablement l&#39;exposition au risque.</li>
						<li>Une performance moyenne maximale de 117 %.</li>
						<li>Un rendement moyen jour de 7 %.</li>
					</ul>
					<p>Je vous conseille d&#39;analyser ces valeurs sur votre espace de travail.</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<p>La méthode permet de sélectionner des valeurs à fort potentiel pour une durée courte.</p>
					<p>Objectif : liquidités, sécurité</p>
				</div>

				<div class="container-fluid bg-light mb-4 p-3">
					<div class="container my-5">
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th colspan="1">Valeur</th>
                <th rowspan="2">Ticker</th>
                <th colspan="2" class="text-center">Signal ZEN</th>
                <th colspan="4" class="text-center">Achat</th>
                <th rowspan="2" class="text-center">Plus-value <br> %</th>
                <th rowspan="2">Position<br>Nb. Jours</th>
                <th rowspan="2">Plus-value<br>Jour</th>
            </tr>
            <tr>
				<th>Nom valeur</th>
                <th>Date</th>
                <th>Var. jour</th>
                <th>Date</th>
                <th>Cours</th>
                <th>Date</th>
                <th>Cours</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>DADA NEXUS</td>
                <td>DADA</td>
                <td>03/01/2023</td>
                <td>26,54%</td>
                <td>04/01/2023</td>
                <td>9,5</td>
                <td>26/01/2023</td>
                <td>15,59</td>
                <td>64,11%</td>
                <td>23</td>
                <td>2,79%</td>
            </tr>
            <tr class="table-info">
                <td>YIREN DIGITAL</td>
                <td>YRD</td>
                <td>04/01/2023</td>
                <td>17,88%</td>
                <td>05/01/2023</td>
                <td>1,82</td>
                <td>27/01/2023</td>
                <td>3,42</td>
                <td>87,91%</td>
                <td>23</td>
                <td>3,82%</td>
            </tr>
            <tr class="table-info">
                <td>CERINNOV GROUP</td>
                <td>ALPCV</td>
                <td>06/01/2023</td>
                <td>8,68%</td>
                <td>17/01/2023</td>
                <td>1,26</td>
                <td>21/02/2023</td>
                <td>2,50</td>
                <td>98,41%</td>
                <td>36</td>
                <td>2,73%</td>
            </tr>
            <tr class="table-info">
                <td>NEONODE</td>
                <td>NEON</td>
                <td>10/01/2023</td>
                <td>20,42%</td>
                <td>11/01/2023</td>
                <td>7,11</td>
                <td>19/01/2023</td>
                <td>14,74</td>
                <td>107,31%</td>
                <td>9</td>
                <td>11,92%</td>
            </tr>
            <tr class="table-info">
                <td>BIOSIG TECHNOLOGIES</td>
                <td>BSGM</td>
                <td>10/01/2023</td>
                <td>14,17%</td>
                <td>11/01/2023</td>
                <td>0,62</td>
                <td>13/02/2023</td>
                <td>1,46</td>
                <td>135,48%</td>
                <td>34</td>
                <td>3,98%</td>
            </tr>
            <tr class="table-info">
                <td>PHAXIAM</td>
                <td>PHXM</td>
                <td>30/01/2023</td>
                <td>15,78%</td>
                <td>31/01/2023</td>
                <td>7,38</td>
                <td>02/02/2023</td>
                <td>13,60</td>
                <td>84,28%</td>
                <td>3</td>
                <td>28,09%</td>
            </tr>
            <tr class="table-info">
                <td>FSD PHARMA</td>
                <td>HUGE</td>
                <td>31/01/2023</td>
                <td>13,76%</td>
                <td>01/02/2023</td>
                <td>1,01</td>
                <td>22/02/2023</td>
                <td>1,84</td>
                <td>82,18%</td>
                <td>22</td>
                <td>3,74%</td>
            </tr>
            <tr class="table-light">
                <td>DADA NEXUS</td>
                <td>DADA</td>
                <td>03/01/2023</td>
                <td>26,54%</td>
                <td>04/01/2023</td>
                <td>9,5</td>
                <td>26/01/2023</td>
                <td>15,59</td>
                <td>64,11%</td>
                <td>23</td>
                <td>2,79%</td>
            </tr>
        </tbody>
    </table>
</div>

				</div>
			</div>
			<div class="col-md-3">
				{% include 'home/widgets/sidebar.html.twig' %}
			</div>
		</div>
	</main>

{% endblock %}
