<div class="nav-scroller mb-2 blog-nav-second position-sticky" style="top:88px; z-index:1000">
	<div class="container-fluid blog-nav">
		<nav class="nav d-flex justify-content-center text-uppercase">
			{% for item in get_menu('HOME')  %}
				<a class="px-4 py-3 link-secondary nav-link {{ app.request.get('_route') == item.route ? 'active' : '' }}" href="{{ path(item.route) }}">{{ item.label }}</a>
			{% endfor %}
		</nav>
	</div>
</div>
