
  <nav class="navbar navbar-expand-lg bg-body-tertiary text-uppercase main-nav-g p-0">
      <div class="container-fluid limited-width">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-home" id="navbarNav">
          <span class="navbar-text me-3 fw-bold text-dark" style="color: #370028;">ZENBOURSE 50 -></span>
          <ul class="navbar-nav">
            {% for item in get_menu('HOME')  %}
              <li class="nav-item">
                <a href="{{ path('app_page', {'route': item.route}) }}"
                  class="p-3 nav-link menu-home {% if app.request.pathinfo == '/' ~ item.route %}active{% endif %}">
                  {{ item.label }}
                  </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>  
  </nav>

