{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
		<main class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
					<div class="col px-0 text-center mb-3">
					    <h1 class="display-5 fst-italic"><strong>La bibliothèque</strong></h1>
					</div>
                    <div class="container bg-light mb-4 p-3">
                        <p>Dans la bibliothèque vous pouvez consulter des analyses graphiques pour vous familiariser avec la méthode,
						mieux la comprendre. Cette bibliothèque vous évitera de longues recherches dans les bases de données.</p>
                        <p>Les valeurs analysées correspondent à l&#39;année 2020, l&#39;année de l&#39;étude statistique ayant servi de base à la création de la méthode.</p>
						<p>Pour retrouver des valeurs des années 2021 à 2024, vous pouvez vous reporter à la page <strong>PERFORMANCES.</strong></p>
						<p>Le nombre de valeurs présentées s’élève à 40 valeurs réparties en 8 catégories :</p>
						<ul>
							<li>Bulles de type 1</li>
							<li>Bulles de type 2</li>
							<li>Valeurs faisant l’objet d’un ramassage inhabituel pendant la formation de la bulle</li>
							<li>Bulles commençant par un ramassage de titres pendant la création de la bulle avec un pic de volumes en sortie de bulle</li>
							<li>Bulles commençant par un pic de volumes suivi d’un ramassage de titres jusqu’à la sortie de la bulle</li>
							<li>Valeurs présentant un pic de volumes sans la formation d’une bulle</li>
							<li>Valeurs dont les volumes échangés sont faibles, mais qui présentent un intérêt par la formation d’une bulle</li>
							<li>Valeurs introduites en bourse au cours des 52 semaines précédentes</li>
						</ul>
                        <div class="section text-center important-text text-success">
						    <p>40 valeurs suffisent pour réaliser un excellent résultat annuel.</p>
					    </div>
                    </div>
				</div>
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar.html.twig' %}
				</div>
			</div>
		</main>
{% endblock %}
