{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - La méthode
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
		<main class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
                    <div class="col px-0 text-center">
					    <h1 class="display-5 fst-italic"><strong>La méthode Investisseur</strong></h1>
				    </div>
                    <h5 class="text-center important-text text-success py-4">Nous vous remercions d&#39;avoir choisi la méthode de Zenbourse</h5>
                    <p>Le but est de mettre à votre disposition une méthode reposant sur la simplicité qui réduit considérablement les erreurs :</p>
                    <ul>
                        <li>Aucune configuration chartiste : tasse avec anse, flag, fanion, tète et épaules, etc</li>
                        <li>Aucun indicateur : RSI, MACD, stochastique, DMI, etc</li>
                        <li>Sur les 40 structures en chandeliers japonais seulement les structures de continuation de tendance</li>
                    </ul>
                    <p>Ne vous attendez pas à avoir à lire un roman mais seulement ce qui est indispensable.</p>

                    <div class="container-fluid bg-light mb-4 p-3">
                        <h5 class="text-center important-text text-success">Les bandes de Bollinger, une moyenne mobile arithmétique, les volumes et l’indicateur ZEN</h5>
				    </div>
                    <h2>La méthode</h2>
                    <div class="container-fluid bg-light mb-4 p-3">
                        <ul>
                            <li class="mb-3">Les cycles boursiers <br>
                                Bien comprendre les périodes favorables pour investir en bourse
                            </li>
                            <li class="mb-3">
                                Les vagues d’Elliot <br>
                                Permettent de comprendre la psychologie des investisseurs
                            </li>
                            <li class="mb-3">
                                La bulle <br>
                                Permet de délecter les gagnants
                            </li>
                            <li class="mb-3">
                                Les indicateurs <br>
                                Sont-ils vraiment utiles ?
                            </li>
                            <li class="mb-3">
                                Les structures en chandeliers japonais <br>
                                Seulement les structures de continuation de tendance.
                            </li>
                        </ul>
				    </div>

                    <h2>Les outils</h2>
                    <div class="container-fluid bg-light mb-4 p-3">
                        <ul>
                            <li class="mb-3">Les cycles boursiers <br>
                                Bien comprendre les périodes favorables pour investir en bourse
                            </li>
                            <li class="mb-3">
                                Le screener
                            </li>
                            <li class="mb-3">
                                L’indicateur ZEN
                            </li>
                            <li class="mb-3">
                                L’espace de travail
                            </li>
                        </ul>
				    </div>

                    <h2>La gestion des positions</h2>
                    <div class="container-fluid bg-light mb-4 p-3">
                        <ul>
                            <li class="mb-3">Le stop Loss <br>
                                La survie en bourse
                            </li>
                        </ul>
				    </div>

                    <h2>La bibliothèque</h2>
                    <div class="container-fluid bg-light mb-4 p-3">
                        <p>La bibliothèque met à votre disposition l’analyse commentée de 40 valeurs sur un seul exercice, ce qui permet de démontrer qu’il est possible de détecter suffisamment de valeur dans un exercice en respectant la méthode.</p>
                        <p>Cet avantage non négligeable vous évite de rechercher des valeurs</p>
                        <p>Les analyses sont réparties en 8 catégories représentant :</p>
                        <ul>
                            <li>5 bulles de type 1</li>
                            <li>5 bulles de types 2</li>
                            <li>5 ramassage de titres pendant la construction de la bulle</li>
                            <li>5 ramassage de titres pendant la construction de la bulle avec un pic de volumes en sortie de bulle</li>
                            <li>5 pics de volumes suivis d’un ramassage de titres pendant la construction de la bulle</li>
                            <li>5 pics de volumes sans ramassage de titres pendant la construction de la bulle</li>
                            <li>5 analyses dont les volumes sont faibles pendant la construction de la bulle</li>
                            <li>5 analyses d’introduction en bourse récente au cours des 52 semaines précédentes.</li>
                        </ul>
				    </div>
				</div>
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar.html.twig' %}
				</div>
			</div>
		</main>
{% endblock %}