{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Outils
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
		<main class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
                    <div class="col px-0 text-center">
					    <h1 class="display-5 fst-italic"><strong>Titre</strong></h1>
				    </div>
                    <p>Text ...</p>
                    <h2>Titre 1</h2>
                    <div class="container-fluid bg-light mb-4 p-3">
                        Text ...
                        <br>
                        <br>
                        <br>
                        <br>
				    </div>
                    <h2>Titre 3</h2>
                    <div class="container-fluid bg-light mb-4 p-3">
                        Text ...
                        <br>
                        <br>
                        <br>
                        <br>
				    </div>
                    <h2>Titre 4</h2>
                    <div class="container-fluid bg-light mb-4 p-3">
                        Text ...
                        <br>
                        <br>
                        <br>
                        <br>
				    </div>
				</div>
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar.html.twig' %}
				</div>
			</div>
		</main>
{% endblock %}