{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - {{ pageContent ? pageContent.title : menu.label }}
{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    
    <main class="custom-container mt-4">
        <div class="row g-5" data-turbo="false" id="main-content">
            <div class="col-md-9">
                {% if pageContent and pageContent.content %}
                    <div class="content-area">
                        <div class="page-content">
                            {{ pageContent.content|raw }}
                        </div>
                    </div>
                {% else %}
                    <div class="content-area">
                        <h1 class="page-title mb-4">{{ menu.label }}</h1>
                    </div>
                {% endif %}
            </div>
            
            <div class="col-md-3">
                {% include 'investisseur/widgets/sidebar.html.twig' %}
                {% if stocksForSidebar is defined and stocksForSidebar is not empty %}
                    {# Le menu enfant est passé via la variable 'menu' dans ce contexte #}
                    {% include 'investisseur/widgets/sidebar-stocks.html.twig' with {
                        'valueTitle': categoryTitle,
                        'stocksForSidebar': stocksForSidebar,
                        'parentMenu': parentMenu,
                        'childMenu': menu,
                        'currentTickerSlug': currentTickerSlug | default(null)
                    } %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}