{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div class="row col-4 m-auto mt-5 bg-light p-4">
        <h2>Réinitialisez votre mot de passe</h2>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="zen-button btn btn-light text-light my-3 w-100">Réinitialisez le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
