<div class="position-sticky" style="top: 10rem;">
	<div class="p-4 mb-3 bg-light rounded">
		<h4 class="fst-italic">Dans cette page</h4>
		<p class="mb-0">Présntation de la méthode</p>
		<p class="mb-0">Présntation de la méthode</p>
		<p class="mb-0">Présntation de la méthode</p>
	</div>

	<div class="p-4 rounded bg-light mb-3">
		<p>Je suis intéressé par</p>
		<a href="{{ path('home_investisseur_subscription') }}" class="fst-italic text-dark fw-bolder text-uppercase" style="font-size: 20px;font-family: 'Playfair Display'">
			la méhtode investisseur
		</a>
	</div>

	<div class="p-4 rounded bg-light">
		<p>Les valeurs de</p>
		<a href="#" class="fst-italic text-dark fw-bolder text-uppercase" style="font-size: 20px;font-family: 'Playfair Display'">
			L'etude statistique
		</a>
	</div>
</div>
