<div class="position-sticky" style="top: 10rem;">
	<div class="sidebar mb-3 
		 {% if app.request.get('_route') starts with 'home' %}
			home
		{% elseif app.request.get('_route') starts with 'investisseur_' %}
			investisseur
		{% elseif app.request.get('_route') starts with 'intraday_' %}
			intraday
		{% endif %}
	 rounded">
	 	<div class="box-title py-3">
			<h4 class="fst-italic sidebar-title text-center m-0">Dans cette page</h4>
		</div>
		<ul id="h2-list" class="py-2">
		</ul>
	</div>

	<div class="p-4 rounded bg-light mb-3 border-black">
		<p>Je suis intéressé par</p>
		<a href="{{ path('home_investisseur_subscription') }}" class="fst-italic text-dark fw-bolder text-uppercase" style="font-size: 20px;">
			la méthode Investisseur
		</a>
	</div>

	<div class="p-4 rounded bg-light mb-3">
		<p>Je suis intéressé par</p>
		<a href="{{ path('home_intraday_subscription') }}" class="fst-italic text-dark fw-bolder text-uppercase" style="font-size: 20px;">
			la méthode Intraday
		</a>
	</div>

	<div class="p-4 rounded bg-light">
		<p>Les valeurs de</p>
		<a href="{{ path('home_download_page') }}" class="fst-italic text-dark fw-bolder text-uppercase" style="font-size: 20px;">
			L'etude statistique
		</a>
	</div>
</div>
