{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - {{ pageContent.title }}
{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <main class="custom-container mt-4" >
        <div class="row g-5" data-turbo="false" id="main-content">
            <div class="col-md-9">
                {{ pageContent.content|raw }}
            </div>
            <div class="col-md-3">
				{% include 'intraday/widgets/sidebar.html.twig' %}
			</div>
        </div>
    </main>
{% endblock %}