<div class="position-sticky" style="top: 13rem;">
	<div class="sidebar mb-3 intraday rounded">
	 	<div class="box-title py-3">
			<h4 class="fst-italic sidebar-title text-center m-0">Dans cette page</h4>
		</div>
		<ul id="h2-list" class="py-2">
		</ul>
	</div>
</div>
