{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Méthode - Indicateur
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
		<main class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
                    <div class="col px-0 text-center mb-3">
					    <h1 class="display-5 fst-italic"><strong>Les indicateurs</strong></h1>
				    </div>

                    <h2>Les indicateurs sont-ils vraiment utiles ?</h2>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">
                            Les indicateurs sont dangereux car trop souvent mal interprétés.
                        </p>
                        <p class="text-justify">
                            Un indicateur utile doit indiquer à partir de quel moment vous pouvez acheter ou vendre à découvert un titre. Ne
                            jamais prendre une position par exemple sur la base d’un croisement d’un indicateur avec sa moyenne mobile.
                        </p>
                        <p class="text-justify">
                            Prendre une position sur un non croisement augmentera considérablement le nombre de vos positions gagnantes.
                        </p>
                        <p class="text-justify">
                            Les indicateurs sont trop souvent mal présentés dans les vidéos, savoir Créer une vidéo n’est pas corollaire de compétences en bourse.
                        </p>
                        <p class="text-justify">
                            Seule votre observation, vous permettra de comprendre leur fonctionnement pour bien les utiliser.
                        </p>
                    </div>
                    <div class="col px-0 py-3 text-center mb-3">
					    <p class="display-6 fst-italic"><strong>Les indicateurs de la méthode Zenbourse</strong></p>
                        <p>Vous les retrouverez sur tous nos graphiques</p>
				    </div>

                    <h2>L’indicateur ZEN</h2>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">
                           L&#39;indicateur ZEN est un indicateur créé par Zenbourse.
                        </p>
                        <p class="text-justify">
                            Il affiche sur les graphiques des barres histogrammes quand les conditions définies sont réunies.
                            Comme tous les indicateurs, il donne des faux signaux.
                        </p>
                        <p class="text-justify">
                            Le positionnement des signaux qui nous intéressent est particulier, nous avons dans plus de 90% des
                            cas un premier signal en début de formation d&#39;une bulle et un deuxième signal en fin de formation de la
                            bulle. L’absence de signal en début de bulle ne remet pas en cause l’existence d’une bulle.
                        </p>
                        <p class="text-justify">
                            Il est très facile de d’éliminer les faux signaux. Sans bulle avec une moyenne mobile haussière, ne
                            prêtez aucun intérêt aux signaux.
                        </p>
                        <p class="text-justify">
                            Ces signaux nous amènent à considérer qu&#39;une seule configuration graphique est utile.
                        </p>
                    </div>

                    <h2>Les bandes de Bollinger</h2>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">
                           Les bandes de Bollinger sont indispensables. Elles forment la bulle et dionne le siganl de sortie de la bulle.
                        </p>
                    </div>

                    <h2>La moyenne mobile arithmétique 20 périodes (MMA 20)</h2>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">
                           La MMA 20 doit être considérée comme un indicateur de tendance. A l’intérieur d’une bulle, la MMA 20 doit être en tendance haussière.
                        </p>
                    </div>

                    <h2>Les volumes</h2>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">
                           Les volumes, tout comme les vagues d’Elliott vous permettent de comprendre la psychologie des intervenants. Ils sont malheureusement trop négligés
                        </p>
                    </div>

                    <h2 class="text-center">Les autres indicateurs</h2>
                    <div class="container bg-light mb-4 p-3">
                        <p class="text-justify">
                            Comme les investisseurs particuliers aiment utiliser d’antres indicateurs tel que RSI, Stochastique, MACD, etc.,
                            nous suggérons d’utiliser des indicateurs disposant d’une zone de neutralité. Lorsque les cours sont au-dessus,
                            vous recherchez des signaux haussiers et inversement.
                        </p>
                        <p>Parmi la centaine d’indicateurs disponibles et les plus faciles à comprendre vous pouvez retenir :</p>
                        <ul>
                            <li>La MACD dont la zone de neutralité est le zéro ou entre plus 0,50 et -0,50</li>
                            <li>Le CCI dont la zione de neuratité se situe entre +100 et -100</li>
                            <li>Etc</li>
                        </ul>
                    </div>
				</div>
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar.html.twig' %}
				</div>
			</div>
		</main>
{% endblock %}