{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Chandeliers Japonais
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
		<main class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
                    <div class="col px-0 text-center">
					    <h1 class="display-5 fst-italic"><strong>Les chandeliers japonais</strong></h1>
				    </div>

                    <div class="container-fluid bg-light mb-4 p-3">
                        <p class="text-justify">Les structures en chandeliers japonais sont nombreuses, environ 40, c’est comme les figures chartistes, elles ne sont pas toutes utiles.</p>
                        <p class="text-justify">On distingue 2 catégories :</p>
                        <ul>
                            <li>Les structures de retournement de tendance, environ 14</li>
                            <li>Les structures de continuation de tendance. Environ 26</li>
                        </ul>
                        <p class="text-justify">Comme nous prenons des positions lorsqu’une tendance est validée, les structures de retournement de tendance ne sont utilisées dans la méthode</p>
                        <p class="text-justify">Par contre les structures de continuation de tendance sont très utiles pour la gestion des positions. Lorsque vous êtes en position, détecter une structure de continuation de tendance est rassurant. Il reste du carburant pour aller plus haut. Ces structures confirment la poursuite de la tendance actuelle.</p>
				    </div>
                    <div class="container-fluid bg-light mb-4 p-3">
                        <p class="text-center important-text text-success">
                            Les structures à connaître doivent être constatées sur l’unité de temps <strong>Semaine</strong>
                        </p>
                    </div>
				</div>
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-methode-chandelier-japonais.html.twig' %}
				</div>
			</div>
		</main>
{% endblock %}