{% extends 'base.html.twig' %}

{% block title %}
    Zenbourse - Demande d'adhésion
{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <main class="custom-container">
        <div class="row">
            <div class="col-md-9 mt-4">
                <h2 class="fst-italic border-bottom pb-4 mb-3">Achat et paiement de la méthode Intraday</h2>
                <p>
                    La méthode Intraday n’est pas actuellement disponible à la vente. La société ZENBOURSE
                    n’étant pas créée.
                </p>
                <p>
                    Si vous êtes intéressé et souhaitez être informé de la mise en vente de la méthode, nous vous
                    remercions de bien vouloir nous retourner le formulaire ci-après.
                </p>
                <p>
                    Dès que la société sera créée, nous pourrons vous informer de sa disponibilité.
                </p>

                <div class="from-investisseur bg-light rounded">
                    <div class="row col-md-8 mx-auto p-3">
                        {{ form(form) }}
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                {% include 'home/widgets/sidebar.html.twig' %}
            </div>

        </div>

    </main>
{% endblock %}
