<div class="custom-toggle-container">
    {# Récupérer le nom du contrôleur actuel #}
    {% set currentController = app.request.attributes.get('_controller')[0] %}
    
    {# Construire l'URL pour l'action toggleBoolean #}
    {% set url = ea_url()
        .setController(currentController)
        .setAction('toggleBoolean')
        .setEntityId(entity.primaryKeyValue)
        .set('field', field.property) %}
    
    {# Le toggle avec le label du champ #}
    <a href="{{ url }}" 
       class="custom-toggle {{ field.value ? 'is-active' : 'is-inactive' }}"
       title="{{ field.value ? 'Désactiver' : 'Activer' }} {{ field.label }}">
        <span class="custom-toggle-handle"></span>
        <span class="custom-toggle-label on"></span>
        <span class="custom-toggle-label off"></span>
    </a>
</div>

