{% extends 'base.html.twig' %}

{% block title %}Téléchargement{% endblock %}

{% block body %}

{% include 'partials/header.html.twig' %}

<main class="custom-container mt-5 text-center">

    <h1 class="mb-4">✅ Merci pour votre demande</h1>

    <p class="lead">
        Votre demande a bien été enregistrée.
    </p>

    <p>
        Le téléchargement va démarrer automatiquement.
    </p>

    <p class="text-muted">
        Vous serez redirigé vers la page d'accueil dans quelques secondes.
    </p>

</main>

<script>

    // lancer téléchargement
    window.location.href = "{{ path('file_download') }}";

    // redirection accueil après 5 secondes
    setTimeout(function() {
        window.location.href = "{{ path('app_home_page', {'slug': 'accueil'}) }}";
    }, 5000);

</script>

{% endblock %}